.translate-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

.translate-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0 0 0;
}

.translate-content {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 32px;
}

@media (max-width: 700px) {
  .translate-content {
    width: 100%;
    padding: 0 8px;
  }
} 